md-sidenav.site-sidenav.md-sidenav-left.md-whiteframe-z2(md-component-id='left', md-is-locked-open="$mdMedia('gt-md')")
  md-toolbar.md-whiteframe-z4(layout='column', layout-align='space-around center')
    i.material-icons() menu
  md-list(layout='column')
    md-item(ng-repeat='section in sideNav.content')
      a.md-button(ui-sref="{{section.state}}", ui-sref-active= "selected")
        div(layout)
          //-md-icon.avatar(md-svg-icon='{{section.icon}}')
          i.material-icons.md-display-3(flex="25", ng-bind="section.mdIcon")
          h4(flex-offset='10', ng-bind="section.name")
    md-divider(flex-offset='35')
  footer(layout)
    md-content.content()
      p() Copyright © 2016 V.Posmit, MIT License

