md-sidenav.site-sidenav.md-sidenav-left.md-whiteframe-z2(md-component-id='left', md-is-locked-open="$mdMedia('gt-md')")
  md-toolbar.md-whiteframe-z1(layout='column', layout-align='space-around center')
    h3  Health
  md-list(layout='column')
    md-item(ng-repeat='section in sideNav.content')
      //- необходимо избавится от ng-click="sideNav.select(section)", но слетает data binding в kil-section и kil-recommendations. Вариант без директив не DRY
      a.md-button(ui-sref="{{section.state}}", ui-sref-active= "selected", ng-click="sideNav.select(section)")
        //-md-icon.avatar(md-svg-icon='{{section.icon}}')
        i.material-icons.md-display-3 {{section.mdIcon}}
        {{section.name}}
    md-divider(flex-offset='35')

