md-sidenav {
  height: 100vh;
  background: #eee;
  &, &.md-locked-open, .md-closed.md-locked-open-add-active {
    min-width: 210px !important;
        width: auto !important;
    max-width: 50vw !important;
    position: fixed !important;
  }
  md-list {
    text-align: right;
    .material-icons {
      font-size: 3.5em;
    }
    .md-button {
      margin: 0;
      color: grey;
      width: 100%;
      &.selected {
        color: black;
      }
    }
    md-item {
      display: block;
      margin-bottom: 1px;
      min-height: 75px;
    }
  }
}

.ng-scope {
  height: 100%;
}

// kil-sidenav {
//   position: fixed;
//   left: 0;
// }
