
h3(hide-gt-md='') Health guide > {{state.name}}
div(layout='row')
  md-icon.avatar(md-svg-icon='{{state.icon}}')
  h1(flex-offset='5') {{state.name}}
h4 {{state.firstRec}}
md-button.contact(md-no-ink='', ng-click='showContactOptions($event)', aria-label='Contact User')
  md-tooltip Contact {{ state.name }}
  md-icon(md-svg-icon='share')
