md-content {
  background-color: transparent !important;
  md-tabs {
    min-height: 200px;
    background: #eee;
    border: 1px solid $primary-color;
    md-tabs-wrapper {
      background: white;
    }
    & > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-ink-bar {
    // there is no other way to target that element
      background: white;
      color:      white;
    }
    .md-tab.md-active {
      color: $accent-color;
    }
  }
  md-option {
    background-color: white;
  }
  h1:first-child {
    margin-top: 0;
  }
}
