md-content {
  background-color: transparent !important;
  md-tabs {
    background: #eee;
    border: 1px solid #ddd;
  }
  md-option {
    background-color: white;
  }
  h1:first-child {
    margin-top: 0;
  }
}
