md-divider
div(ng-cloak)
  md-content(layout='column', flex)
    md-button(ng-click="layout.calculate()") Calculate
    h2 {{layout.selected.name}} recommendations for you {{layout.user.name}}
    md-tabs(md-dynamic-height, md-border-bottom)
      md-tab(ng-repeat='recomendations in layout.selected.recomendations', label='{{recomendations.label}}')
        md-content.md-padding
          h2.md-headline {{recomendations.header}}
          p(ng-repeat= "item in recomendations.list", ng-show="item.isShownCondition") {{item.text}}
