md-divider
div(ng-cloak)
  md-content(layout='column', flex)
    md-button(ng-click="layout.calculate()") Calculate
    h2 {{layout.data.name}} recommendations for you {{layout.user.name}}
    md-tabs(md-dynamic-height, md-border-bottom)
      md-tab(ng-repeat='recommendations in layout.data.recommendations', label='{{recommendations.label}}')
        md-content.md-padding
          h2.md-headline(ng-bind="recommendations.header")
          p(ng-repeat= "item in recommendations.list", ng-show="item.isShownCondition" ng-bind="item.text")
