md-sidenav.site-sidenav.md-sidenav-left.md-whiteframe-z2(md-component-id='left', md-is-locked-open="$mdMedia('gt-md')")
  md-toolbar.md-whiteframe-z1(layout='column', layout-align='space-around center')
    h3  Health
  md-list(layout='column')
    md-item(ng-repeat='section in sideNav.content')
      a.md-button(ui-sref='{{section.state}}', ng-click='layout.select(section)', ng-class="{'selected': section === layout.selected}")
        md-icon.avatar(md-svg-icon='{{section.icon}}')
        |             {{section.name}}
    md-divider(flex-offset='35')
    md-item
      md-button(ng-click='layout.select(section)', ng-class="{'selected': section === layout.selected}")
        md-icon.avatar(md-svg-icon='hangouts')
        |               You
