//- input
  when do you go to sleep .slider
//- //when wake up .slider
//- //do you wake up at the same time? .dropdown
//- //light during sleep .dropdown
//- Recomendations

md-divider
h2 {{layout.selected.name}} Input Block
  md-tooltip(md-direction="top") Please, answer few questions to get recommendations right for you
div(layout-gt-sm="row",  layout-xs="column", layout-align='space-between center', flex-gt-md="50")
  md-input-container.md-block.md-accent(flex-gt-sm='60', flex-sm='100')
    label name
    input(ng-model='layout.user.name')

-var jWeight = {name : 'asleep', min: '20',  max: '24'}
-var jHeight = {name : 'wake',   min: '5', max: '12'}

for parameter in [jWeight, jHeight]
  div(layout='row', layout-align='space-between center', flex-gt-md="30")
    md-input-container.md-block.md-accent(flex= '20', flex-gt-md='70')
      label= parameter.name
      input(min= parameter.min, max= parameter.max, type='time', ng-model='layout.user.'+parameter.name, aria-label= parameter.name, aria-controls=parameter.name+'-slider')
h3 Sleep checklist
md-checkbox(ng-model='layout.user.habbit') I wake up at the same time each day
md-checkbox(ng-model='layout.user.sleepLight') I sleep at the totally dark room
md-checkbox(ng-model='layout.user.sleepLight') I sleep in well-conditioned room

md-divider
