extends default.jade
//- .md-icons fitness_center
//- .md-icons smoking_rooms
block input
  h2 {{layout.data.name}} information
  div(layout)
    md-input-container.md-block(flex, flex-gt-sm='45')
      label Name
      input(ng-model='layout.user.name', ng-model-options="{ updateOn: 'blur' }")

  md-input-container.md-block()
    label What is your movement during workday?
    md-select(flex, flex-gt-sm='45', ng-model='layout.user.activity.isDynamicWork', aria-label= 'movement during workday')
      md-option(ng-value="false") Sitting position mostly (work with computer)
      md-option(ng-value="true") Dynamic (studying at the campus)
      md-option(ng-value="true") Moving on your feet (manual work, officiant)

  div(layout-sm="column", layout="row")
    div
      label Do you train?
      md-switch.md-primary(layout="row", ng-model="layout.user.activity.isTrain")
        label(ng-show="layout.user.activity.isTrain") Yep
        label(ng-show="!layout.user.activity.isTrain && layout.user.activity.isTrain !== null") Nope
    md-radio-group.ng-hide(flex-offset-gt-sm= "5", layout="column", ng-model="layout.user.activity.trainTimes", ng-hide="layout.user.activity.isTrain === false")
      label How many times per week?
      div(layout-sm="column", layout="row")
        md-radio-button.md-primary(value= 1) once a week
        md-radio-button.md-primary(value= 2) twice
        md-radio-button.md-primary(value= 3) 3 times
        md-radio-button.md-primary(value= 4) 4 or more

  md-radio-group(layout="column", ng-model="layout.user.activity.walk")
    label How much do you walk everyday?
    div(layout-sm="column", layout="row")
      md-radio-button.md-primary(value= 2) 2 km or less
      md-radio-button.md-primary(value= 4) 2-5 km
      md-radio-button.md-primary(value= 6) 6+ km

  label() Medical contraindications to sport
  md-switch.md-primary(ng-model="layout.user.activity.hasContraindications", ng-false-value= "''")
    label(ng-show="layout.user.activity.hasContraindications") Unfortunately, I have
    label(ng-show="!layout.user.activity.hasContraindications") Fortunately, I have not
  h3 Activity checklist
    md-checkbox.md-primary(ng-model='layout.user.activity.isWarmUp') I do warm up exercise everyday
    md-checkbox.md-primary(ng-model='layout.user.activity.hasTrainWarmUp') I always do warm up before training
  kil-recommendations
