kil-toolbar
md-content.content(flex)
  block input
    kil-section(statedata='Nutrition')
    h3 Hello from default state
    h3 Health Guide is a tool where you can...
    p The structure of the application fall here as an tip for user how to use healthguide
  kil-recommendations
