extends default.jade
block input
  div(layout-gt-sm="row",  layout-xs="column", layout-align='space-between center', flex-gt-md="50")
    md-input-container.md-block.md-accent(flex, flex-gt-sm='60')
      label Name
      input(ng-model='layout.user.name')
    md-radio-group( flex, flex-gt-sm="35", layout, ng-model="layout.user.isMale")
      //- label Gender
      md-radio-button.md-accent(value= 'true') Man
      md-radio-button.md-warn(flex-offset= '15', value= 'false') Woman

  md-input-container.md-block.md-accent(flex-sm= '50', flex-gt-sm='20')
      label age
      input(min='18', max='99', type='number', ng-model='layout.user.age', aria-label='age', aria-controls='weight-slider')

  -var jWeight = {name : 'weight', unit1: 'kg', unit2: 'lbs', min: '40',  max: '150'}
  -var jHeight = {name : 'height', unit1: 'cm', unit2: 'ft',  min: '130', max: '220'}

  for parameter in [jWeight, jHeight]
    div(layout='row', layout-align='space-between center', flex-sm, flex-gt-sm='30')
      md-input-container.md-block.md-accent(flex-sm= '70', flex-gt-sm='60')
        label= parameter.name
        input(min= parameter.min, max= parameter.max, type='number', ng-model='layout.user.nutrition.'+parameter.name, ng-change = "layout.calculate()", aria-label= parameter.name, aria-controls=parameter.name+'-slider')
      md-select.md-accent(flex-sm="20", flex-gt-sm='20', ng-model='layout.user.nutrition.'+parameter.name +'Units', aria-label= parameter.name+' units')
        md-option= parameter.unit1
        md-option= parameter.unit2
    md-slider.md-accent(flex, min= parameter.min, max= parameter.max, ng-model='layout.user.nutrition.'+parameter.name, aria-label= parameter.name, hide-gt-md)
  p Your Body mass index is {{layout.user.BMI}}
  md-divider
