extends default.jade
block input
  div(layout)
    md-input-container.md-block.md-accent(flex, flex-gt-sm='45')
      label Name
      input(ng-model='layout.user.name')

  div(layout='column', layout-gt-sm='row', layout-align='space-between', flex-gt-sm='45')
    md-input-container.md-block.md-accent(flex= '20', flex-gt-sm='45')
      label Go to sleep at
      input(type='time', ng-model='layout.user.sleep.start', aria-label= 'go to bed time')
    md-input-container.md-block.md-accent(flex= '20', flex-gt-sm='45')
      label Wake up at
      input(type='time', ng-model='layout.user.sleep.end', aria-label= 'wake up time')


  md-input-container.md-block()
    label Wake up habit
    md-select.md-accent(flex, flex-gt-sm='45', ng-model='layout.user.sleep.regim', aria-label= 'layout.user.sleep.regim')
      md-option I wake up at the same time each day
      md-option I wake up at the same time at working days
      md-option I am not bothered by time I wake up
  h3 Sleep checklist
  md-checkbox(ng-model='layout.user.sleep.habbit') I wake up at the same time each day
  md-checkbox(ng-model='layout.user.sleep.light') I sleep at the totally dark room
  md-checkbox(ng-model='layout.user.sleep.air') I sleep in well-conditioned room
  md-divider
