.input {
  margin-left: 5px;
  background-color: primary;
}
.space {
  padding: 12px;
}
.states {
  min-height: 100vh;
  @media (min-width: 960px) {
    margin-left: 210px;
  }
}

footer {
  background: $primary-color;
  min-height: 4em;
  margin-top: 2em;
  a {
    text-decoration: none;
    color: inherit;

    &:hover {
      color: $accent-color;
    }
  }
  p {
    font-size: 0.75em;
    font-weight: 400;
    color: white;
  }
}
