.input {
  margin-left: 5px;
  background-color: primary;
}
.space {
  padding: 12px;
}

footer {
  background: $primary-color;
  margin-top: 2em;
  a {
    text-decoration: none;
    color: inherit;

    &:hover {
      color: $accent-color;
    }
  }
  p {
    font-size: 0.75em;
    font-weight: 400;
    color: white;
  }
}
// colors: primary, accent, warn, background
