extends default.jade
block input
  h2 Summary
  p This page aggregates all of the nutrition, sleep and activity tips

//- input
//- age, weight, height, gender.drop-down, how do you feel


//- health list checkout: smoking
//- Smoking
//- Alcohol
//- Coffee
//- Drugs
//- Medicine
//- do you plan your leisure time?
