kil-sidenav
div(layout='row', ng-strict-di='')
  .md-whiteframe-z2(flex='', layout='column', tabindex='-1', role='main')
    kil-toolbar
    md-content#content(flex='')
      kil-section
      // Input block
      // Input block end
      kil-recommendations
