md-toolbar.md-whiteframe-z4(layout, layout-align-gt-md= "center center")
  md-button.menu(hide-gt-sm, ng-click='layout.toggleSideNav()', aria-label='Show User List')
    md-icon(md-svg-icon='menu')
      md-tooltip(md-direction='right') Navigation
  h3(hide-gt-sm)
    a(ng-href= "/") Health guide
  .icons-group(flex, layout, layout-align= "end center", hide show-gt-sm)
    p(ng-show= "layout.user.name") {{layout.user.name}}
    i.material-icons account_circle
      md-tooltip(md-direction= "bottom") Summary
    .container(ng-show="layout.user.isMale !== null")
      p(ng-show= "layout.user.isMale") M
      p(ng-show= "layout.user.isMale === false") W
    p(ng-show= "layout.user.age") {{layout.user.age}} years

    p(ng-show= "layout.user.nutrition.weight") {{layout.user.nutrition.weight}}kg
    .container(ng-show="layout.user.BMI")
      i.material-icons(ng-if= "layout.user.BMI < 25") thumb_up
        md-tooltip(md-direction= "bottom") Good shape!
      i.material-icons(ng-if= "(layout.user.BMI > 25)") thumb_down
        md-tooltip(md-direction= "bottom") Overweight
